@model List<Nova.Web.ViewModels.UserRoleViewModel>
@inject Nova.DB.NovaDBContext _db;
@{
    ViewData["Title"] = "Role List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/lib/jquery/dist/jquery.min.js")"></script>


<div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Alert</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div id="toastmessage" class="toast-body">
        </div>
    </div>
</div>

<div class="modal fade modalT" id="AddRoleModal">
    <input type="hidden" id="hdnRoleId" value="rolelist" />
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body body-firmw">
                <form id="frmRoleInput">
                    <div class="form-group group-headein row">
                        <label class="col-sm-4 pt-2 ">&nbsp;</label>
                        <div class="col-sm-8">
                            <h5 id="AddorUpdateRole" class="modal-title">Add New Role</h5>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 pt-2 ">Role</label>
                        <div class="col-sm-8">
                            <input id="InputRoleName" type="text" autocomplete="off" class="form-control" onkeypress="return fnRestrictSpaceSpecial(event)" placeholder="Name">
                            <small id="InputRoleName-error" style="display:none;" class="form-text text-icon-error last"><i class="fas fa-info-circle"></i><em id="InputRoleName-error-msg">Please intput value.</em></small>
                        </div>

                    </div>

                    <div class="form-group group-btn row">
                        <label class="col-sm-4 ">&nbsp;</label>
                        <div class="col-sm-8">
                            <a id="Closebtn" href="javascript:void(0);" data-dismiss="modal" class="btn btn-danger">Cancel</a>
                            <a id="btnSave" href="javascript:void(0);" class="btn btn-primary">Save</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="page-row-head mb-1">
    <div class="row mr-0 ml-0">
        <!-- BEGIN col-4 -->
        <div class="col-xl-4">
            <h1 class="page-header ml-5 mt-top1  ">
            </h1>
        </div>
        <!-- END col-4 -->
        <!-- BEGIN col-4 -->
        <div class="col-xl-4">
            <input type="hidden" id="hdnpagename" value="rolelist" />
            @*  <partial name="_SearchView" /> *@
        </div>
        <!-- END col-4 -->
        <!-- BEGIN col-4 -->
        <div class="col-xl-4 text-right">
            <div class="mr-5 mt-top mr-right ">
                <a class="btn btn-primary" href="javascript:void(0);" onclick="fnShowRoleModal()">Add Role</a>
            </div>
        </div>
        <!-- END col-4 -->
    </div>
</div>


<div class="app-content-holder general-gaping ">

    <!-- BEGIN row -->

    <div class="row ">

        <!-- BEGIN col-12 -->
        <div class="col-xl-12">

            <!-- BEGIN #responsiveTables -->
            <div id="responsiveTables" class="mb-5 ">
                @if (Model != null && Model.Count > 0)
                {

                    <div class="card card-general-table">
                        <div class="card-body px-0 py-0">

                            @*  <div class="row row-head ">
                                @await Html.PartialAsync("_PageSize", psvm)
                            </div> *@

                            <div class="table-responsive">

                                <table class="table table-firstRow mb-0">
                                    <thead>
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Roles</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (Nova.Web.ViewModels.UserRoleViewModel item in Model)
                                        {
                                            @*   pageCount = item.TotalRecords / item.PageSize;
                                            if (item.TotalRecords % item.PageSize != 0)
                                            {
                                                pageCount = pageCount + 1;
                                            }
                                            pageNumber = item.PageNumber;
                                            pageSize = item.PageSize;
                                            pgdvm.pagecount = pageCount;
                                            pgdvm.pagenumber = pageNumber; *@

                                            <tr>
                                                <th scope="row"></th>
                                                <td>@item.Rolename</td>
                                                <td class="dt-buttons">
                                                    <a href="#" onclick="fnUpdateRole('@item.Id','@item.Rolename')" class=" ">
                                                        <i class="fas fa-pen-nib"></i>
                                                    </a>


                                                    <a href="javascript:void(0);" class=" " id="Delete_@item.Id" onclick='DeleteRole(@item.Id);'>
                                                        <i class="fas fa-trash"></i>
                                                    </a>



                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>

                            </div>



                        </div>
                    </div>

                }
            </div>

        </div>
        <!-- END #responsiveTables -->

    </div>
    <!-- END col-12-->

</div>

<script type="text/javascript">
    var  LastUpdateRoleID = 0;
     var LastUpdateRoleName="";
     $(document).ready(function () {

           var successMessage = '@TempData["SuccessMessage"]';
         if (successMessage) {
             showToast(successMessage);
         }

         // Check for error message
         var errorMessage = '@TempData["ErrorMessage"]';
         if (errorMessage) {
             showToast(errorMessage);
         }

         function showToast(message) {
             var toastEl = document.getElementById('liveToast');
             var toastBody = toastEl.querySelector('.toast-body');
             toastBody.textContent = message;
             var toast = new bootstrap.Toast(toastEl);
             toast.show();
         }

         $("#Closebtn").click(function () {
                 $("#AddRoleModal").modal('hide');
         });



         $("#btnSave").click(function () {

             if ($("#InputRoleName").val() != '') {
                // fnCloseRoleModal();
                 if (LastUpdateRoleID > 0) { //Update Role
                      $('#InputRoleName-error').hide();
                     fnCheckDuplicateRoleExecptMe(LastUpdateRoleID);
                 }
                 else {  //Insert Role

                      $('#InputRoleName-error').hide();

                     $.ajax({
                         type: "GET",
                         url: '@Url.Action("CheckDulicate", "UserRole")',
                         data: { 'RoleName': $("#InputRoleName").val() },
                         success: function (result) {
                             if (result.result) {
                                 $("#InputRoleName-error-msg").html("This role name already exist");
                                  $('#InputRoleName-error').show();
                                 showToast("This role name already exist");
                             } else {

                                 $.ajax({
                                     type: "POST",
                                     url: '@Url.Action("Add", "UserRole")',
                                     data: { 'RoleName': $("#InputRoleName").val() },
                                     success: function (result) {
                                         $("#AddRoleModal").modal('hide');

                                         $("#InputRoleName").val('');

                                         if (result.result) {
                                             showToast('Role created successfully.');
                                           //  location.reload();
                                         }
                                         else {
                                             showToast('Role creatation failed.');
                                         }
                                     },
                                     error: function (ex) {
                                         if (ex.status === 401) {
                                             //window.location.replace("/account/login");
                                         }
                                     }
                                 });
                             }
                         },
                         error: function (ex) {
                             if (ex.status === 401) {
                                 //window.location.replace("/account/login");
                             }
                         }
                     });
                 }
             } else {
                 $("#InputRoleName-error-msg").html("Please input value");
                  $('#InputRoleName-error').show();
             }

         });

     });

      function fnRestrictSpaceSpecial(e) {

         var inputValue = e.charCode;
         if ((inputValue >= 65 && inputValue <= 90) || (inputValue >= 97 && inputValue <= 122) || (inputValue == 32 || inputValue == 0)) {

             return true;
         }
         else {
             event.preventDefault();
             return false;
         }
     }

      function fnCheckDuplicateRoleExecptMe(LastUpdateRoleID) {          
         $.ajax({
             type: "GET",
             url: '@Url.Action("CheckDulicateExceptMe", "UserRole")',
             data: { 'RoleID': LastUpdateRoleID, 'RoleName': $("#InputRoleName").val() },
             success: function (result) {

                 if (result.result) {                     
                     $("#InputRoleName-error-msg").html("This role name already exists");
                     $("#InputRoleName-error").show();
                 } else {
                     $("#InputRoleName-error-msg").html("");
                     $("#InputRoleName-error").hide();
                     fnUpdateRoleNameByID(LastUpdateRoleID);
                 }

             },
             error: function (ex) {
                 if (ex.status === 401) {
                     //window.location.replace("/account/login");
                 }
             }

         });
     }


     function fnShowRoleModal() {

         $("#InputRoleName").val('');
         $("#AddRoleModal").modal('show');
         $('#InputRoleName-error').hide();
         $('#AddorUpdateRole').html('Add New Role');
     }
     function fnCloseRoleModal() {
        LastUpdateRoleID = 0;
         $("#InputRoleName").val('');
         $("#AddRoleModal").modal('hide');
         $("#InputRoleName-error").removeClass('none');
     }
     function fnUpdateRole(id, rolename) {

            LastUpdateRoleID =id;
              LastUpdateRoleName=rolename;
         $('#hdnRoleId').val(id);
       //  $('#txtRoleName').val(rolename);
          $('#InputRoleName').val(rolename);
         $('#AddRoleModal').modal('show');
         $('#InputRoleName-error').hide();
          $('#AddorUpdateRole').html('Update Role');
     }
       function fnUpdateRoleNameByID(LastUpdateRoleID) {           
         $.ajax({
             type: "POST",
              url: '@Url.Action("Edit", "UserRole")',
              data: { 'RoleID': LastUpdateRoleID, 'RoleName': $("#InputRoleName").val() },
             success: function (result) {

                 LastUpdateRoleID = 0;
                 $("#AddRoleModal").modal('hide');
                 $("#InputRoleName").val('');

                  if (result.result) {
                       showsuccess(result.message);
                     setTimeout(function () { location.reload(); }, 500);
                 }
                 else {
                     showsuccess(result.Message);
                 }
             },
             error: function (ex) {
                 if (ex.status === 401) {
                     //window.location.replace("/account/login");
                 }
             }

         });
     }


       function DeleteRole(RoleID) {
          //
           var cofirmmessage = 'Are you sure you want to delete this? Note: All the users, using this role will not be able to access the system anymore, until you assign them a new role.';
          var successmessage = 'Data deleted successfully.';
          var $element = $(this);
          customConfirm({ message: cofirmmessage },
              function (retunVal) {
                  $.ajax({
                      type: "POST",
                        url: "@Url.Action("Delete", "UserRole")",
                      data: { ID: RoleID },
                      success: function (data) {

                          console.log(data);
                          if (data.result) {
                               showsuccess(data.message);
                              setTimeout(function () { location.reload(); }, 500);
                          }
                          else {
                               showsuccess(data.message);
                              location.reload();
                              setTimeout(function () { location.reload(); }, 500);
                          }
                      },
                      error: function (arg) {
                          alert("Error");
                      }

                  });
              },
               function (retunVal) {
                   showalertpopup('No data was deleted.');
               });

      }
</script>


