@model Nova.Web.ViewModels.UserViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Zono admin is super flexible, powerful, clean &amp; modern responsive bootstrap 5 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Zono admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="pixelstrap">
    <link rel="icon" href="@Url.Content("~/assets/images/favicon.png")" type="image/x-icon">
    <link rel="shortcut icon" href="@Url.Content("~/assets/images/favicon.png")" type="image/x-icon">
    <title>Login - Nova Asset Management</title>
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/font-awesome.css")">
    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/vendors/icofont.css")">
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/vendors/themify.css")">
    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/vendors/flag-icon.css")">
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/vendors/feather-icon.css")">
    <!-- Plugins css start-->
    <!-- Plugins css Ends-->
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/vendors/bootstrap.css")">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/style.css")">
    <link id="color" rel="stylesheet" href="@Url.Content("~/assets/css/color-1.css")" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/responsive.css")">
</head>
<body>

    <div class="toast-container position-fixed top-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Alert</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Invalid username or password
            </div>
        </div>
    </div>


    <form asp-action="ForgetPassword" asp-controller="Accounts" method="POST" data-ajax="true" data-ajax-update="result" asp-antiforgery="true" data-ajax-success="success">

        <div class="modal fade" id="forgotPasswordModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Forgot Password</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Enter your e-mail address below to reset your password.</p>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email Address", @autofocus = "", @autocomplete = "off" })
                        <span class="text-danger"> @Html.ValidationMessageFor(m => m.Email)</span>
                    </div>
                    <div class="modal-footer">
                        <button data-bs-dismiss="modal" class="btn btn-danger" type="button">Cancel</button>
                        <button id="btnReset" class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <!-- login page start-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-7"><img class="bg-img-cover bg-center" src="@Url.Content("~/assets/images/login/2.jpg")" alt="looginpage"></div>
            <div class="col-xl-5 p-0">
                <div class="login-card login-dark login-bg">
                    <div>
                        <div><a class="logo text-start" href="index.html"><img class="img-fluid for-light" src="@Url.Content("~/assets/images/logo/logo.png")" alt="looginpage" /></a></div>
                        <div class="login-main">

                            <form class="theme-form" asp-action="Login" asp-controller="Accounts" method="POST" data-ajax="true" data-ajax-update="result" asp-antiforgery="true" data-ajax-success="success">
                                <h3>Sign in to account</h3>
                                <p>Enter your username & password to login</p>
                                <div class="form-group">
                                    <label class="col-form-label">Username</label>
                                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "Username", @autocomplete = "off", name = "username" })
                                    @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })

                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">Password</label>
                                    <div class="form-input position-relative">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control ", @placeholder = "Password", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        <div class="show-hide"><span class="show"></span></div>
                                    </div>
                                </div>
                                <div class="form-group mb-0">
                                    <div class="checkbox p-0">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        <label class="" for="RememberMe">Remember me</label>
                                    </div><a class="link" href="javscript:void(0);" id="ShowModal" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal">Forgot password?</a>
                                    <button class="btn btn-primary btn-block w-100" type="submit">Sign in</button>                                    
                                </div>                                
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<!-- latest jquery-->
<script src="@Url.Content("~/assets/js/jquery.min.js")"></script>
<!-- Bootstrap js-->
<script src="@Url.Content("~/assets/js/bootstrap/bootstrap.bundle.min.js")"></script>
<!-- feather icon js-->
<script src="@Url.Content("~/assets/js/icons/feather-icon/feather.min.js")"></script>
<script src="@Url.Content("~/assets/js/icons/feather-icon/feather-icon.js")"></script>
<!-- scrollbar js-->
<!-- Sidebar jquery-->
<script src="@Url.Content("~/assets/js/config.js")"></script>
<!-- Plugins JS start-->
<!-- Plugins JS Ends-->
<!-- Theme js-->
<script src="@Url.Content("~/assets/js/script.js")"></script>
<!-- Plugin used-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js" integrity="sha256-v2nySZafnswY87um3ymbg7p9f766IQspC5oqaqZVX2c=" crossorigin="anonymous"></script>
<script>
    success = function (result) {              
        window.location.href = result.url;
    };

</script>
<script>
    $(document).ready(function () {
        
        // Check for success message
        var successMessage = '@TempData["SuccessMessage"]';
        if (successMessage) {
            showToast(successMessage);
        }

        // Check for error message
        var errorMessage = '@TempData["ErrorMessage"]';
        if (errorMessage) {
            showToast(errorMessage);
        }

        function showToast(message) {
            var toastEl = document.getElementById('liveToast');
            var toastBody = toastEl.querySelector('.toast-body');
            toastBody.textContent = message;
            var toast = new bootstrap.Toast(toastEl);
            toast.show();
        }

        $("#ShowModal").click(function () {
            $('#forgotPasswordModal').modal('show');
        });

       $("#btnReset").click(function () {
            $.ajax({
                url: "/LogIn/ForgotPassword",
                contentType: "application/json",
                dataType: "json",
                type: "Post",
                headers: {}
            }).done(function (data) {
                $("#modalcomments").modal('hide');
                viewModel.get("comments").read();
            }).fail(function (jqXHR, textStatus) {
                Ephron.WebApp.Common.showFinanceAlert("Something went wrong while submitting your request, Please enter comments.");
            }).always(function () {});
        });
    });
</script>
