@model Nova.Web.ViewModels.UserViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}

@* <form class="row gy-3 gx-3 py-5 px-3"> *@
@using (Html.BeginForm("ResetPasswords", "Accounts", FormMethod.Post, new { @class = "mb-3" }))
{
    @Html.HiddenFor(m => m.Email)
    @Html.HiddenFor(m => m.Firstname)
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Username)
    @Html.HiddenFor(m => m.UserId)
  @*   <input type="hidden" name="userid" value=@Model.Id /> *@
    <div class="col-6">
        <label class="form-label">New Password</label>
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "New Password" })
        @Html.ValidationMessageFor(m => m.NewPassword)
        <span asp-validation-for="NewPassword" class="text-danger"></span>

    </div>
    <div class="col-6">
        <label class="form-label">Confirm Password</label>
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

    </div>
    <div class="kt-login__actions rpass-btn">
        <button type="submit" class="btn btn-success"> Reset </button>
        <button class="btn btn-danger"> Cancel </button>
    </div>
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

@*  <div class="col-12">
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </div> *@




@* </form> *@
