@model Nova.Web.ViewModels.UserViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}

@* <form class="row gy-3 gx-3 py-5 px-3"> *@
@* @using (Html.BeginForm("ResetPassword", "Home", FormMethod.Post, new { @class = "mb-3", @id = "frmresetpassword" }))
{ *@
    <div class="col-6">
        <label class="form-label">Old Password</label>
    <input id="password" type="password" class="form-control">
       @*  @Html.PasswordFor(m => m.password, new { @class = "form-control", @placeholder = "Password" }) *@
       @*  @Html.ValidationMessageFor(m => m.password) *@
        <label id="oldpasswordmatch" class="form-label"></label>
    </div>
    <div class="col-6">
        <label class="form-label">New Password</label>
      @*   @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "New Password" })
        @Html.ValidationMessageFor(m => m.NewPassword) *@
    <input type="password" id="NewPassword" class="form-control">
    <label id="NewPasswordmatch" class="form-label"></label>
    </div>
    <div class="col-6">
        <label class="form-label">Confirm Password</label>
       @*  @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword) *@
    <input type="password" id="ConfirmPassword" class="form-control">
    <label id="ConfirmPasswordmatch" class="form-label"></label>
    </div>
<div class="kt-login__actions rpass-btn">
    <button id="ResetPassword" class="btn btn-success"> Reset </button>
 
</div>
   
   @*  <div class="col-12">
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </div> *@
<script src="@Url.Content("~/lib/jquery/dist/jquery.min.js")"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#ResetBtn').attr("style", "opacity:1; display:block ");
    });
    $("#ResetPassword").click(function () {
      
        var password = $('#password').val();
        var NewPassword = $('#NewPassword').val();
        var ConfirmPassword = $('#ConfirmPassword').val();
        if (password != '') {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Checkpassword", "Accounts")",
                data: {
                    password: password

                },
                success: function (data) {
                    if (!data.result) {
                        $("#oldpasswordmatch").html("Wrong Password");
                    }
                    else {
                        if (NewPassword != password || password != ConfirmPassword || NewPassword!='') {
                            $.ajax({
                                type: "GET",
                                url: "@Url.Action("Checkpassword", "Accounts")",
                                data: {
                                    password: NewPassword

                                },
                                success: function (data) {
                                    if (!data.result) {
                                        $.ajax({
                                            type: "POST",
                                            url: "@Url.Action("ResetPassword", "Accounts")",
                                            data: {
                                                password: password,
                                                NewPassword: NewPassword,
                                                ConfirmPassword: ConfirmPassword
                                            },
                                            success: function (data) {
                                                if (data.result) {
                                                    showsuccess("Password cahange successfully");
                                                    setTimeout(function () { window.location.replace("https://localhost:44339/Accounts"); }, 3000);
                                                }
                                                else {
                                                    $("#NewPasswordmatch").html("Password does not match");
                                                    $("#ConfirmPasswordmatch").html("Password does not match");
                                                }
                                            },
                                            error: function (arg) {
                                                showsuccess('error');
                                                // showsuccess("User deleted successfully.");
                                                setTimeout(function () { location.reload(); }, 1000);
                                            }

                                        });
                                    }
                                    else {


                                    }
                                },
                                error: function (arg) {
                                    showsuccess('error');
                                    // showsuccess("User deleted successfully.");
                                    setTimeout(function () { location.reload(); }, 1000);
                                }

                            });




                            
                        }

                        else{
                            $("#NewPasswordmatch").html("Password does not match");
                            $("#ConfirmPasswordmatch").html("Password does not match");
                        }
                    }

                },
                error: function (arg) {
                }

            });
        }
        else {
            $("oldpasswordmatch").html("Please enter password");
        }


    });
    // $(document).ready(function (event) {
    //     $("#ResetPassword").click(function () {
    //         var oldVal = $('#password').val() || "";
    //         if (oldVal == "") {
    //             $("#oldpasswordmatch").html("First you have to fill Old Password.");
    //             event.preventDefault();
    //             event.stopPropagation();
    //         }
    //         else{
    //             var password1 = $("#password").val();
    //             var password2 = $("#NewPassword").val();
    //             var password3 = $("#ConfirmPassword").val();
    //             if (password1 == password2 || password1 == password3) {
    //                 // alert("New password and old password can not be same.")
    //                 $("oldpasswordmatch").html("Nnew and old passwrd same");
    //                 event.preventDefault();
    //                 event.stopPropagation();
    //             } else {
    //                 $(".error-msg").html("").hide();
    //                 return false;
    //                 // ValidatePassword();
    //             }
    //         }
    //        // validate(event);
    //     });
    // });
    // function validate(event) {
    //     var password1 = $("#password").val();
    //     var password2 = $("#NewPassword").val();
    //     var password3 = $("#ConfirmPassword").val();
    //     if (password1 == password2 || password1 == password3) {
    //        // alert("New password and old password can not be same.")
    //         $("oldpasswordmatch").html("Nnew and old passwrd same");
    //         event.preventDefault();
    //         event.stopPropagation();
    //     } else {
    //         $(".error-msg").html("").hide();
    //         return false;
    //        // ValidatePassword();
    //     }
    // }
    // $(document).ready(function () {
    //    // $("#ResetPassword").click(function () {

    //         $("#frmresetpassword").validate({
    //             rules: {
    //                 password: 'required',
    //                 NewPassword: 'required',
    //                 ConfirmPassword: {
    //                     required: true,
    //                     equalTo: "#NewPassword",
    //                 },
    //             },
    //             messages: {
    //                 password: 'Current Password is required',
    //                 NewPassword: 'New Password is required',
    //                 ConfirmPassword: {
    //                     required: 'Confirm Password is required',
    //                     equalTo: 'Password not matching',
    //                 }
    //             },
    //         });
    //     });
        //});
       

</script>
@* </form> *@
