@model Nova.Web.ViewModels.UserViewModel

@{
    Layout = null;
    ViewData["Title"] = "Reset Password";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Zono admin is super flexible, powerful, clean &amp; modern responsive bootstrap 5 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Zono admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="pixelstrap">
    <link rel="icon" href="@Url.Content("~/assets/images/favicon.png")" type="image/x-icon">
    <link rel="shortcut icon" href="@Url.Content("~/assets/images/favicon.png")" type="image/x-icon">
    <title>Reset Password - Nova Asset Management</title>
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/font-awesome.css")">
    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/vendors/icofont.css")">
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/vendors/themify.css")">
    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/vendors/flag-icon.css")">
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/vendors/feather-icon.css")">
    <!-- Plugins css start-->
    <!-- Plugins css Ends-->
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/vendors/bootstrap.css")">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/style.css")">
    <link id="color" rel="stylesheet" href="@Url.Content("~/assets/css/color-1.css")" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/responsive.css")">
</head>
<body>
    <!-- loader starts-->
    <div class="loader-wrapper">
        <div class="theme-loader">
            <div class="loader-p"></div>
        </div>
    </div>
    <!-- loader ends-->
    <!-- tap on top starts-->
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <!-- tap on tap ends-->
    <!-- page-wrapper Start-->
    <div class="page-wrapper">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-12">
                    <div class="login-card login-dark">
                        <div>
                            <div>
                                <a class="logo" href="#">
                                    <img class="img-fluid for-light" src="@Url.Content("~/assets/images/logo/logo.png")" alt="looginpage"><img class="img-fluid for-dark" src="@Url.Content("~/assets/images/logo/logo.png")" alt="looginpage">
                                </a>
                            </div>
                            <div class="login-main">
                                @using (Html.BeginForm("ResetPasswords", "Accounts", FormMethod.Post, new { @class = "theme-form" }))
                                {
                                    @Html.HiddenFor(m => m.Email)
                                    @Html.HiddenFor(m => m.Firstname)
                                    @Html.HiddenFor(m => m.Id)
                                    @Html.HiddenFor(m => m.Username)
                                    @Html.HiddenFor(m => m.UserId)

                                    <h4>Create Your Password</h4>
                                    <div class="form-group">
                                        <label class="col-form-label">New Password</label>
                                        <div class="form-input position-relative">
                                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "New Password" })
                                            @Html.ValidationMessageFor(m => m.NewPassword)
                                            <span asp-validation-for="NewPassword" class="text-danger"></span>                                            
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">Retype Password</label>
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Retype Password" })
                                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <div class="form-group mb-0">
                                        <button class="btn btn-primary btn-block w-100" type="submit">Reset</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-wrapper Ends-->
    <!-- latest jquery-->
    <script src="@Url.Content("~/assets/js/jquery.min.js")"></script>
    <!-- Bootstrap js-->
    <script src="@Url.Content("~/assets/js/bootstrap/bootstrap.bundle.min.js")"></script>
    <!-- feather icon js-->
    <script src="@Url.Content("~/assets/js/icons/feather-icon/feather.min.js")"></script>
    <script src="@Url.Content("~/assets/js/icons/feather-icon/feather-icon.js")"></script>
    <!-- scrollbar js-->
    <!-- Sidebar jquery-->
    <script src="@Url.Content("~/assets/js/config.js")"></script>
    <!-- Plugins JS start-->
    <!-- Plugins JS Ends-->
    <!-- Theme js-->
    <script src="@Url.Content("~/assets/js/script.js")"></script>
    <!-- Plugin used-->
</body>
</html>