<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Nova Asset Management</title>
    <link rel="stylesheet" href="@Url.Content("~/lib/bootstrap/dist/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/site.css")" asp-append-version="true" />
    <link rel="stylesheet" href="@Url.Content("~/Nova.Web.styles.css")" asp-append-version="true" />
</head>
<body>
    <div class="toast-container">
        <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="ConfirmAlert">
                <div class="toast-header">
                    <i class="far fa-bell text-muted mr-2"></i>
                    <strong class="me-auto"></strong>
                    <button type="button" class="btn-close" data-dismiss="toast" aria-label="Close">
                        <span>×</span>
                    </button>
                </div>
                <div class="toast-body">
                    <p id="ConfirmAlertBodyText"> </p>
                    <button type="button" class="btn btn-primary btn-sm" id="btnOK">Ok</button>
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="toast" id="btnCancel">Cancel</button>
                </div>
            </div>


            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="NotificationModal">
                <div class="toast-header">
                    <strong class="me-auto">Notification</strong>
                    <button type="button" class="btn-close" data-dismiss="toast" aria-label="Close">
                        <span>×</span>
                    </button>
                </div>
                <div class="toast-body" id="NotificationBodytext"></div>
            </div>
        </div>
    </div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Nova.Web</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
                <form class="d-flex">
                    <button class="btn mx-1" type="button" id="LogOutBtn">
                      @*   <a href="@Url.Action("LogOut","Accounts")">Log Out</a> *@
                        <a class="btn mx-1" id="LogOutBtn" href="@Url.Action("LogOut", "Accounts")">Log Out</a>
                    </button>
                    <button class="btn mx-1" type="button" id="ResetBtn">
                        <a class="btn mx-1" id="ResetBtn" href="@Url.Action("ResetPassword", "Accounts")">Reset Password</a>
                     @*    <a href="@Url.Action("ResetPassword","Accounts")"> Reset Password</a> *@
                    </button>
                </form>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Nova.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="@Url.Content("~/lib/jquery/dist/jquery.min.js")"></script>
    <script src="@Url.Content("~/lib/bootstrap/dist/js/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/js/site.js")" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
    customConfirm = function (option, confirmcallback, cancelcallback) {

        var title = option.title || 'Confirm';
        var message = option.message || '';
        var autohide = option.autohide || false;

        $('#ConfirmAlert .mr-auto').html(title);
        $('#ConfirmAlert #ConfirmAlertBodyText').html(message);

        $('#ConfirmAlert button.confirm').unbind();

        if (confirmcallback != null) {
            $('#ConfirmAlert #btnOK').click(function () {
                $('#ConfirmAlert').toast('hide');

                return confirmcallback(true);

            });
        }

        if (cancelcallback != null) {
            $('#ConfirmAlert #btnCancel').click(function () {
                $('#ConfirmAlert').toast('hide');

                return cancelcallback(true);

            });
        }

        // Open dialogue
        $('#ConfirmAlert').toast('show');
    };


    function showsuccess(text) {
        $("#NotificationBodytext").html('');
        $("#NotificationBodytext").html(text);
        $("#NotificationModal").toast('show');

        setTimeout(function () { $("#NotificationModal").toast('hide'); }, 3000);

    }

    function showfailure(text) {

        $("#NotificationBodytext").html('');
        $("#NotificationBodytext").html(text);
        $("#NotificationModal").toast('show');

        setTimeout(function () { $("#NotificationModal").toast('hide'); }, 3000);
    }
</script>

<script type="text/javascript">

    $(document).ready(function () {
    @if (!String.IsNullOrEmpty(ViewBag.SuccessMessage))
    {
        @:showsuccess('@ViewBag.SuccessMessage');
    }
    @if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        @:showsuccess('@ViewBag.ErrorMessage');
    }
                // $('#LogOutBtn').attr("style", "opacity:0; display:block ");
                // $('#ResetBtn').attr("style", "opacity:0; display:block ");
                // $('#menubar').attr("style", "opacity:0; display:block ");
            });
    function showToast(message) {
        $('#NotificationModal').removeClass('hide');
        $('#NotificationModal').addClass('show');
        $('#dvtoastbody').html(message);
    }

</script>
